{% extends 'template.html.twig' %}
{% block title %}
    {{ firstname }} {{ name }}
{% endblock %}

{% block body %}
    <h2>hello {{firstname}} {{name}} </h2>
    <img src="{{ 'assets/image/' ~ path | defaultImage }}">
    Je veux aller sur cet url absolue : {{ url('first') }}
{% endblock %}


