{% extends 'template.html.twig' %}

{% block body %}

<div class="alert-success">
    {{personne.firstname}}
    {{personne.name}}
    {{personne.age}}
</div>

  
{% endblock %}

{% block title %}
<div class="alert-succes">
    {{personne.firstname}}
    {{personne.name}}
</div>
    
{% endblock %}